<!--  # KiMoSys - web-based platform for Kinetic Models of biological Systems.
# Copyright (C) 2013-2013 Rafael Costa

# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; version 2
# of the License.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of

# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software


# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.-->

<div class="dark-gray italic">Repository</div>

<h2 class="green">Overview</h2>
<p> This repository <b>makes published experimental data</b> 
required for kinetic modeling and associated models with the data (i.e. experimental 
data on which the model building and/or validation are based) into <b>publicly accessible</b> centralized, to <b>facilitate</b> both <b>search</b> and <b>access</b>. Detailed experimental information is provided with the data.
It also allows data and associated models to remain private or provides optional access to collaborators.
<b><i>Ki</i>MoSys</b> repository will be routinely updated and expanded as new dataset and models become available.</p>
<p>Search/browse data and associated models from publications that are stored in <b><i>Ki</i>MoSys</b>.</p>

<p id="search" class="green"><b>You may search by,</b></p>

<p><b>Examples:</b> PubMed ID <span class="light-gray">(e.g. '17590932')</span>; Organism <span class="light-gray">(e.g. '<i>Clostridium acetobutylicum</i>')</span>; 
EntryID <span class="light-gray">(e.g. 'EntryID41')</span></p>
<!--  <p> &bull; Data EntryID - internal data accession number <span class="light-gray">(e.g. '41')</span>. </p>
<p> &bull; Organism - name of the organism used to generate the dataset <span class="light-gray">(e.g. '<i>Clostridium acetobutylicum</i>')</span>.</p>
<p> &bull; Strain - name of the strain used to generate the dataset <span class="light-gray">(e.g. 'ATCC824')</span>.</p>
<p> &bull; Data type - experimental data type <span class="light-gray">(e.g. metabolites at steady-state, time-series data of metabolites, metabolic fluxes or enzyme levels)</span>.</p>
<p> &bull; Project name - acronym name of the project <span class="light-gray">(e.g. 'PneumoSyS')</span>. </p>
<p> &bull; Authors or original paper name <span class="light-gray">(e.g. 'Ishii' or 'Multiple high-throughput analyses(...)' )</span>. </p>
-->
<%= render 'index' %>